<div class="main-container">
  <header class="header">
    <!-- ... -->
  </header>
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        Normal
      </a>
      <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="bank"></clr-icon>
        Electric
      </a>
      <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="bullseye"></clr-icon>
        Poison
      </a>
      <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
        Grass
      </a>
      <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
        Fighting
      </a>
      <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
        Credit
      </a>
    </clr-vertical-nav>
    <div class="content-area">
      <!-- <div ace-editor [(text)]="text"></div> -->
      <!-- <ace-editor [(text)]="text" #editor style="height:150px;"></ace-editor> -->
      <!-- <router-outlet></router-outlet> -->
      <app-rule-box></app-rule-box>
    </div>
  </div>
</div>